{% extends "base.html" %}

{% block start %}
</style>
<section class="mt-2 pt-2 pb-5 mb-5">
<h1 class="mb-2 mt-5 container animated-heading">Add vibZ here</h1>
<div class="container mt-4">
    <a href="{% url 'see_blog' %}" class="btn btn-warning">View Your vibZ</a>

    <form method="post" class="mt-3 pt-3 mb-5 pb-3"
          enctype="multipart/form-data" action="{% url 'add_blog' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 py-4">
                <label>Enter Category</label>
                <input type="text" class="form-control" placeholder="Enter Category" name="category">
            </div>

            <div class="col-md-12">
                {{ form.media }}
                {{ form.as_p }}
            </div>

            <div class="col-md-12">
                <input type="file" name="image" class="form-control mt-2 mb-2" >
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4">Create vibZ</button>

    </form>

</div>
</section>
{% endblock %}
